# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Specific directory to ignore
/workspaces/TestRun/experiment5/__pycache__

# Screenshot file
/workspaces/TestRun/Experiment6/Screenshot 2025-03-15 205320.png
